.header-container {
    height: var(--header-height);
    display: flex;
    justify-content: center;
    background-color: #041C32;
    align-items: center;
}

.header-content {
    width: 90%;
    max-width: 1400px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.selectors {
    align-items: center;
    display: flex;
}

.primary-btn {
    border: none;
    outline: none;
    padding: 8px 10px;
    border-radius: 5px;
    background-color: #f5f5f5;
    cursor: pointer;
    font-weight: 500;
}

.algo-selector {
    color: white;
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.algo-selector-caption {
    display: flex;
    align-items: center;
}

.range-selector {
    display: flex;
    color: white;
    font-weight: 500;
    margin-left: 50px;
}

.range-selector input {
    cursor: pointer;
}

.range-selector span {
    padding-right: 10px;
}

.algo-options {
    position: absolute;
    top: 25px;
    background-color: #fcfcfc;
    color: black;
    border-radius: 5px;
    width: 120px;
    padding: 5px;
    left: -18px;
}

.algo-option {
    padding: 10px;
    border-radius: 5px;
}

.algo-option:hover {
    background-color: #ebebeb;
}

.range-algo-container {
    display: flex;
}

@media screen and (max-width: 750px) {
    .selectors {
        margin-bottom: 15px;
    }

    .header-content{
        flex-direction: column;
        width: 98vw;
    }
}

@media screen and (max-width: 600px) {
    .selectors {
        flex-direction: column-reverse;
    }

    .algo-selector {
        margin-left: 0px;
    }

    .range-selector {
        margin-left: 0px;
    }

    .range-algo-container{
        margin-bottom: 10px;
        width: 90vw;
        justify-content: space-between;
    }
}