@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

.button {
    padding: 10px;
    border-radius: 5px;
    background-color: #fe46a5;
    font-family: 'Rubik', sans-serif;
    color: white;
}